body, textarea, input, button {
	background-color: #687584;
	font-family: Arial; 
	font-size: 10pt; 
	color: #FFFFFF; 
	overflow: hidden;
	border: 1px solid black
	}
	
a:link {color:#333333;} 
a:visited {color:#333333;}
a:hover {color:#999999;} 
a:active {color:#FFFFFF;}
	
td {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #CCCCCC; 
	font-weight: bold; 
	line-height: 16px
	}
	
big {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #4B545F; 
	font-weight: bold; 
	line-height: 16pt; 
	text-indent: 10px; 
	letter-spacing: 5px
	}
	
small {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	color: #414852; 
	font-weight: normal
	}
	

tr.bg2 td { background-color:#607084 }



html, body, div {
	scrollbar-3dlight-color:555555; 
	scrollbar-arrow-color:black;
	scrollbar-highlight-color: 758393;
	scrollbar-face-color:607084;
	scrollbar-shadow-color:758393;
	scrollbar-darkshadow-color:444444;
	scrollbar-track-color: 758393;
}

th{
 background: #506074;
 border-bottom: 1px silver solid;
 border-right: 1px silver solid;
 padding: 0.2em; 
}